/* 
 ios light and dark colors
 source: https: //noahgilmore.com/blog/dark-mode-uicolor-compatibility/
 June 7, 2020
 */

:root {
    --ios-light-label: #000000ff;
    --ios-light-secondaryLabel: #3c3c4399;
    --ios-light-tertiaryLabel: #3c3c434c;
    --ios-light-quaternaryLabel: #3c3c432d;
    --ios-light-systemFill: #78788033;
    --ios-light-secondarySystemFill: #78788028;
    --ios-light-tertiarySystemFill: #7676801e;
    --ios-light-quaternarySystemFill: #74748014;
    --ios-light-placeholderText: #3c3c434c;
    --ios-light-systemBackground: #ffffffff;
    --ios-light-secondarySystemBackground: #f2f2f7ff;
    --ios-light-tertiarySystemBackground: #ffffffff;
    --ios-light-systemGroupedBackground: #f2f2f7ff;
    --ios-light-secondarySystemGroupedBackground: #ffffffff;
    --ios-light-tertiarySystemGroupedBackground: #f2f2f7ff;
    --ios-light-separator: #3c3c4349;
    --ios-light-opaqueSeparator: #c6c6c8ff;
    --ios-light-link: #007affff;
    --ios-light-darkText: #000000ff;
    --ios-light-lightText: #ffffff99;
    --ios-light-systemBlue: #007affff;
    --ios-light-systemGreen: #34c759ff;
    --ios-light-systemIndigo: #5856d6ff;
    --ios-light-systemOrange: #ff9500ff;
    --ios-light-systemPink: #ff2d55ff;
    --ios-light-systemPurple: #af52deff;
    --ios-light-systemRed: #ff3b30ff;
    --ios-light-systemTeal: #5ac8faff;
    --ios-light-systemYellow: #ffcc00ff;
    --ios-light-systemGray: #8e8e93ff;
    --ios-light-systemGray2: #aeaeb2ff;
    --ios-light-systemGray3: #c7c7ccff;
    --ios-light-systemGray4: #d1d1d6ff;
    --ios-light-systemGray5: #e5e5eaff;
    --ios-light-systemGray6: #f2f2f7ff;

    --ios-dark-label: #ffffffff;
    --ios-dark-secondaryLabel: #ebebf599;
    --ios-dark-tertiaryLabel: #ebebf54c;
    --ios-dark-quaternaryLabel: #ebebf52d;
    --ios-dark-systemFill: #7878805b;
    --ios-dark-secondarySystemFill: #78788051;
    --ios-dark-tertiarySystemFill: #7676803d;
    --ios-dark-quaternarySystemFill: #7676802d;
    --ios-dark-placeholderTextv: #ebebf54c;
    --ios-dark-systemBackground: #000000ff;
    --ios-dark-secondarySystemBackground: #1c1c1eff;
    --ios-dark-tertiarySystemBackground: #2c2c2eff;
    --ios-dark-systemGroupedBackground: #000000ff;
    --ios-dark-secondarySystemGroupedBackground: #1c1c1eff;
    --ios-dark-tertiarySystemGroupedBackground: #2c2c2eff;
    --ios-dark-separator: #54545899;
    --ios-dark-opaqueSeparator: #38383aff;
    --ios-dark-link: #0984ffff;
    --ios-dark-darkText: #000000ff;
    --ios-dark-lightText: #ffffff99;
    --ios-dark-systemBlue: #0a84ffff;
    --ios-dark-systemGreen: #30d158ff;
    --ios-dark-systemIndigo: #5e5ce6ff;
    --ios-dark-systemOrange: #ff9f0aff;
    --ios-dark-systemPink: #ff375fff;
    --ios-dark-systemPurple: #bf5af2ff;
    --ios-dark-systemRed: #ff453aff;
    --ios-dark-systemTeal: #64d2ffff;
    --ios-dark-systemYellow: #ffd60aff;
    --ios-dark-systemGray: #8e8e93ff;
    --ios-dark-systemGray2: #636366ff;
    --ios-dark-systemGray3: #48484aff;
    --ios-dark-systemGray4: #3a3a3cff;
    --ios-dark-systemGray5: #2c2c2eff;
    --ios-dark-systemGray6: #1c1c1eff;
}