@import "ios.css";

body {
    background-color: var(--ios-dark-secondarySystemBackground);
    /* #1E1E1E; */
    color: var(--ios-dark-lightText);
    /* #ffffff99; */
    font-family: -apple-system;
}

table {
    table-layout: fixed;
    max-width: 100%;
    display: table;
    overflow: hidden;
    margin-right: 6px;

}

th,
td {

    padding: 6px;


    height: 50px;
    vertical-align: bottom;
    text-align: left;
    border-bottom: 1px solid var(--ios-dark-separator);
    /* #54545899; */

}

a {
    color: var(--ios-dark-lightText);
    /* #ffffff99; */
}

a:hover {
    color: var(--ios-dark-systemGreen);
    /* #30d158ff; */
    text-decoration: none;

}


tr:nth-child(even) {
    background-color: var(--ios-dark-systemGray6);
    /* #222222; */

}

tr:nth-child(odd) {
    xbackground-color: #8e8e93ff;
    xcolor: #0a84ffff;

}

tr:hover {
    background-color: var(--ios-dark-separator);
    /* #54545899; */
    xcolor: black;
}

.small {
    xfont-weight: bold;
    font-size: .8em;
    height: 1em;

}

.desc {
    xheight: 4em;


}

.fa-user-tag,
.fa-user,
.fa-user-lock,
.navbar-toggler-icon {
    color: var(--ios-dark-systemGreen);
}