@import "ios.css";

body {
    background-color: var(--ios-secondarySystemBackground);
    /* #1E1E1E; */
    color: var(--ios-Text);
    /* #ffffff99; */
    font-family: -apple-system;
}

table {
    table-layout: fixed;
    max-width: 100%;
    display: table;
    overflow: hidden;
    margin-right: 6px;

}

th,
td {

    padding: 6px;
    height: 50px;
    vertical-align: bottom;
    text-align: left;
    border-bottom: 1px solid var(--ios-separator);
    /* #54545899; */

}

a {
    color: var(--ios-Text);
    /* #ffffff99; */
}

a:hover {
    color: var(--ios-Text);
    /* #30d158ff; */
    text-decoration: none;

}


tr:nth-child(even) {
    background-color: var(--ios-systemGray6);
    /* #222222; */

}

/* tr:nth-child(odd) {
    xbackground-color: #8e8e93ff;
    xcolor: #0a84ffff;

} */

/*  tr:hover {
    background-color: var(--ios-separator);
    #54545899;
    color: black;
} */

*/ .small {
    /* xfont-weight: bold; */
    font-size: .8em;
    height: 1em;

}

.title {
    font-size: 1em;
    color: var(--ios-label);
}

/* .desc {
    xheight: 4em;


} */

.h1 {
    font-size: 2em;
}

.h9 {
    font-size: .3em;
}

input {
    background-color: var(--ios-systemGray4);
    border: 0px;
    display: none;
}

.formatDate,
.formatHost {
    color: var(--ios-systemBlue);
}

.formatTags {
    color: var(--ios-systemPink);
}

.fa-chevron-left,
.fa-tags,
.fa-user,
.fa-user-lock,
.navbar-toggler-icon {
    color: var(--ios-systemGreen);
}